<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chat-app - Sign up, create an account</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  {{>navigation}}
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Oops, something went wrong!</h1>
      <p>{{error}}</p>
      <a href="{{redirectUrl}}">{{redirectMessage}}</a>
    </div>
  </div>
</body>

</html>