<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Chat-app</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/14b9bfad64.js"></script>

</head>

<body>
  {{>navigation}}
  <div class="centered-form">
    <div class="centered-form__box-authenticate">
      <span id="login">
        <h1>Login</h1><img src="./img/arrow.svg" class="img-arrow" />
      </span>
      <p class="message-error">{{error}}</p>
      <p class="message-success">{{message}}</p>
      <div id="loginForm" style="display:none">
        <form action="/users/login" method="post">
          <label>Username</label>
          <input type="text" placeholder="Your username" name="username" required />
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" required />
          <input type="submit" value="Login" />
        </form>
        <div class="centered-form__signup">
          <h4>Don't have an account yet? <a href="/signup">Sign up</a>!</h4>
          <h4><a href="/recover-account">Forgot your password?</a></h4>
        </div>
      </div>
      <hr>
      <span id="join">
        <h1>Join</h1><img src="./img/arrow.svg" class="img-arrow" />
      </span>
      <div id="joinForm" style="display:none">
        <form action="/chat">
          <label>Display name</label>
          <input type="text" placeholder="Display name" name="username" required />
          <label>Room</label>
          <input type="text" name="room" placeholder="Room" required />
          <button>Join</button>
        </form>
      </div>
    </div>
  </div>
  <script src="./js/form.js"></script>
</body>

</html>