<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  {{>navigation}}
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Welcome to use chat-app, {{username}}!</h1>
      <p>Feel free to login and start chatting with the others! Click <a href="/">here</a> to login.</a></p>
    </div>
  </div>
</body>

</html>