/* General Styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f7f7fa;
}

::-webkit-scrollbar-thumb {
  background: #1d1f26;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

a {
  text-decoration: underline;
  color: #333744;
}

a:hover {
  color: #6b47b8;
}

hr {
  color: #a1a1a1;
  margin: 20px 0 20px 0;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input:not(:placeholder-shown) {
  border: 1px solid #e76767;
  background-color: #ffb7aa;
}

input,
select {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

input:valid {
  border: 1px solid #eeeeee;
  background-color: #f1f1f1;
}

button,
input[type="submit"] {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

i {
  display: inline-block;
  padding-right: 7px;
}

i:hover {
  color: #7c5cbf;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.message-error {
  color: #ee2400;
  font-weight: bolder;
  margin-bottom: 10px;
}

.message-success {
  color: #22d85f;
  font-weight: bolder;
  margin-bottom: 10px;
}

.img-arrow {
  display: block;
  margin-top: 10px;
  width: 40px;
  float: right;
  filter: invert(25%) hue-rotate(100deg);
}

.styled-list ul {
  margin: 10px 10px;
}

.styled-list li {
  height: fit-content;
  padding: 8px 10px;
  width: 100%;
  border-radius: 4px;
}

.styled-list li:nth-child(odd) {
  background-color: #b49ce9;
}

.styled-list li:last-child {
  border-bottom: none;
}

/* Navigation bar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #2c2f3a;
  color: #f7f7fa;
  border-bottom: 1px solid #6b47b8;
}

nav a {
  text-decoration: none;
  color: #f7f7fa;
}

nav a:hover {
  font-weight: 200;
  color: #824dff;
  text-shadow: 1px 1px 1px #333333;
}

.navbar__header {
  margin: 0 50px;
  display: inherit;
  align-self: center;
}

.navbar__links {
  text-transform: lowercase;
}

.navbar__links i {
  margin-left: 10px;
}

.navbar__links li {
  display: inline-block;
  padding: 15px 30px;
  margin-right: -4px;
  transition: all 0.2s ease-in-out;
}

.navbar__links li:last-child {
  margin-right: 0;
}

.navbar__links li:hover {
  background-color: #a485e7;
}

/* Join Page Styles */

.centered-form {
  background: #333744;
  width: 100vw;
  height: calc(100vh - 53px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box-authenticate {
  background: #f7f7fa;
  padding: 24px;
  margin: 0 5px 0 0;
  min-width: 300px;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
}

.centered-form__box-authenticate h1 {
  display: inline-block;
}
.centered-form__box-authenticate h1:hover {
  color: #674ca1;
}

.centered-form__box {
  background: #f7f7fa;
  padding: 24px;
  margin: 0 5px 0 0;
  min-width: 250px;
}

.centered-form__previousPageLink {
  font-size: 1.5em;
  text-decoration: none;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

.centered-form__signup {
  margin: 15px 0 15px 0;
}

#loginForm,
#joinForm {
  display: none;
  transition: all 5s 1s ease;
}

#login,
#join {
  cursor: pointer;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  background: red;
  display: inherit;
  flex-direction: column;
  height: calc(100vh - 53px);
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

.chat__sidebar-rooms li {
  cursor: pointer;
}

.chat__sidebar-myname {
  color: #bfa1ff;
  font-weight: 600;
}

.chat__sidebar button,
.chat__sidebar input {
  margin: 10px 0 0 0;
}

.bottom {
  margin-top: 10px;
  width: 180px;
  display: inherit;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.chat__sidebar-info {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  background-color: #7c5cbf;
  color: #f7f7fa;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  box-shadow: 3px 3px 0px 1px #1d1f26;
}

.chat__sidebar-infoShow {
  opacity: 1;
}

.chat__sidebar-rooms li:hover {
  color: #7c5cbf;
}

.chat__sidebar-info button {
  background-color: #a485e7;
  border: 1px solid #a485e7;
  color: #f7f7fa;
  margin: 15px 0 0 0;
  justify-self: center;
  align-self: center;
}

.chat__sidebar-info button:hover {
  background-color: #6b47b8;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 53px);
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

.chat__information {
  opacity: 0;
  font-size: 0.8em;
  flex-grow: 0;
  margin: 0 24px 0 24px;
  justify-content: center;
  align-content: center;
  transition: 0.1s ease;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  padding: 5px 10px 5px 10px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

.message-private {
  background-color: #b9a5e4b6;
  border-radius: 5px;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 0px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users,
.rooms {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}

.roomsInfo {
  height: 100px;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.usersonline {
  float: right;
}

/* Alert styles */

.alert {
  opacity: 0;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-30%);
  background: #d3505ba1;
  width: fit-content;
  height: 40px;
  padding: 10px;
  color: #1d1f26;
  font-size: 0.9em;
  text-align: center;
}

/* Account info & dashboard */

.accountListing {
  display: flex;
  flex-direction: row;
  min-width: 400px;
}

.accountListing-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  min-width: 400px;
}

.listing-rooms {
  width: 100%;
}

.accountListing-left,
.accountListing-right {
  width: 50%;
  height: 100%;
}

.accountListing-left p,
.accountListing-right p {
  margin-bottom: 5px;
}

.accountListing-left {
  color: #2c2f3a;
}

.accountListing-right {
  color: #674ca1;
}

.account__edit {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.account__edit button {
  width: 50%;
  margin: 10px 5px;
}

.bolder {
  font-weight: bolder;
}

.padding-10 {
  padding: 10px;
}

/* Animations */

@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blinkingText 3s 1;
}

@keyframes hideElement {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
